.header{
    text-align: center;
    color: rgb(33, 151, 187);
}



.tdLabel{
    width: 40%;
}

.divStyle{
    height: auto;
}

.fieldsetStyle{
    border: 100px; width:400px; height:auto;
}

.tdLabel{
    color: rgb(29, 123, 185);
}

.legend{
    font-style: italic;
    color: rgba(230, 114, 6, 0.541);
}

.changeStyle{
    color: rgb(10, 178, 230);
}

.formStyle{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: antiquewhite;
}

.fieldsetStyle2{
    border: 3px solid rgb(230, 114, 6); width:80%; height:auto;
    display: flex;
}

.display{
    align-items: center;
    margin-left: 10%;
}